html,body {
	height:100%;
	background:pink;
}
header {
	display:block;
	background: rgb(2,0,36);
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,69,1) 35%, rgba(0,212,255,1) 100%);
	padding:10px 0px;
}
section {
	width: 79%;
	float: left;
	overflow: auto;
	padding-bottom: 60px;
	padding-top:30px;
	color: black;
}
footer {
	position: relative;
	margin-top: -50px;
	height: 40px;
	padding:5px 0px;
	clear: both;
	background: #d7e0e9;
	text-align: center;
	color: black;
}